<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">

              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              <div class="alert alert-danger list-unstyled" *ngIf="status?.invalid && (status?.touched||isSubmitted)">
                <li *ngIf="status?.errors?.['required']">please agree to all the terms of service</li>

              </div>
              <form [formGroup]="registerForm" (ngSubmit)="handleRegister()">

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="name"   />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                  <div class="alert alert-danger list-unstyled" *ngIf="name?.invalid && (name?.touched||isSubmitted)">
                    <li *ngIf="name?.errors?.['required']">name is required</li>
                    <li *ngIf="name?.errors?.['minlength']">min is 3</li>
                    <li *ngIf="name?.errors?.['maxlength']">max is 20</li>

                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg"formControlName="email" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  <div class="alert alert-danger list-unstyled" *ngIf="email?.invalid && (email?.touched||isSubmitted)">
                    <li *ngIf="email?.errors?.['email']">Please enter a valid email</li>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example4cg" class="form-control form-control-lg"formControlName="userName" />
                  <label class="form-label" for="form3Example4cg">username</label>
                  <div class="alert alert-danger list-unstyled" *ngIf="userName?.invalid && (userName?.touched||isSubmitted)">
                    <li *ngIf="userName?.errors?.['required']">userName is required</li>
                    <li *ngIf="userName?.errors?.['minlength']">min is 3</li>
                    <li *ngIf="userName?.errors?.['maxlength']">max is 20</li>

                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg"formControlName="password" />
                  <label class="form-label" for="form3Example4cdg"> password</label>
                  <div class="alert alert-danger list-unstyled" *ngIf="password?.invalid && (password?.touched||isSubmitted)">
                    <li *ngIf="password?.errors?.['required']">password is required</li>
                    <li *ngIf="password?.errors?.['pattern']">your password must have minimum eight characters, at least one letter and one number</li>


                  </div>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg"formControlName="status" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>

                </div>

                <div class="d-flex justify-content-center">
                  <button
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
