<app-navbar></app-navbar>
<ng-template #notLoaded>
  <div class="lds-hourglass"></div >
</ng-template>
<div class="card gedf-card container mt-5 w-50">
  <div class="card-header">
    <ul class="nav nav-pills card-header-tabs" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active text-secondary"
          id="pills-home-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-home"
          type="button"
          role="tab"
          aria-controls="pills-home"
          aria-selected="false"
          >Make a publication</a
        >
      </li>

    </ul>
  </div>
  <div class="card-body position-relative">
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade active show"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
        tabindex="0"
      >
        <form [formGroup]="postForm" (ngSubmit)="addPost()">
          <label class="sr-only" for="message">post</label>
          <input class="mb-2 form-control w-50" type="text" placeholder="title" formControlName="title" />
          <textarea
            class="form-control"
            formControlName="body"
            id="message"
            rows="3"
            placeholder="What are you thinking?"
          ></textarea>
          <input  id="postImg" type="file" (change)="changeMyImg($event)">
          <label class="img-spec position-absolute bottom-0 end-0 me-2 mb-2 fs-4" for="postImg"><i class="fa fa-camera"></i></label>
          <div class="btn-group">
            <button class="btn btn-primary mt-3">share</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>


<section class="hero" *ngFor="let post of _auth.result; let i = index" >
  <div class="container"*ngIf="isLoaded; else notLoaded">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="cardbox shadow-lg bg-white">
          <div class="cardbox-heading position-relative">
            <!-- START dropdown-->
            <div *ngIf="_auth.userData?.['_id'] != post.userId;else yes" ></div>
<ng-template #yes>
  <div class="dropdown position-absolute end-0 me-3" >
    <a
      class="btn btn-flat btn-flat-icon nav-link"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <em class="fa fa-ellipsis-h" ></em>
    </a>
    <div

      class="dropdown-menu dropdown-scale dropdown-menu-right"
      role="menu"
      style="
        position: absolute;
        transform: translate3d(-136px, 28px, 0px);
        top: 0px;
        left: 0px;
        will-change: transform;
      "
    >
      <a class="dropdown-item" (click)="delPost(post._id)"
        >delete post</a
      >
      <a class="dropdown-item" routerLink="/editPost/{{post._id}}">edit post</a>

    </div>
  </div>
</ng-template>



            <!--/ dropdown -->
            <div class="media m-0">
              <div class="d-flex mt-1">
                <a
                  ><img
                  routerLink="/profile"
                    class="img-fluid rounded-circle"
                    src="http://localhost:3000/{{ post.profileImage }}"
                    alt="User"
                /></a>

              </div>
              <div class="media-body">
                <p class="m-0 fs-4 text-dark fw-bold">{{ post.name }}</p>
                <p class="m-0">{{post.createdAt |dateAgo}} </p>
              </div>
            </div>
            <!--/ media -->
          </div>
          <!--/ cardbox-heading -->

          <div class="cardbox-item ms-5">
            <h4>{{ post.title }}</h4>
            <p>{{ post.body }}</p>
          </div>
          <div *ngIf="!post.image; else notFile"></div>

           <ng-template #notFile >
            <div class="cardbox-item">
              <img class="img-fluid w-100" src="http://localhost:3000/{{post.image}}" alt="Image">
             </div>
           </ng-template>
          <!--/ cardbox-item -->
          <div class="cardbox-base">
            <ul class="float-right">
              <li>
                <a><i class="fa fa-comments fs-4"></i></a>
              </li>
            </ul>
            <ul>
              <li>
                <a (click)="addLike(post._id)" ><i class="fa fa-thumbs-up fs-4 "></i></a>
              </li>
              <!-- <ng-template #n>
                <i class="fa fa-thumbs-up fs-4"></i>
              </ng-template> -->
ng <s></s>
              <li>
                <a><span>{{post.likes.length}}</span></a>
              </li>
            </ul>
          </div>
          <!--/ cardbox-base -->
          <div class="cardbox-comments">
            <form
              class="search"
              [formGroup]="commentForm"
              (ngSubmit)="addComment(post._id)"
            >
              <input
                placeholder="Write a comment"
                type="text"
                formControlName="commentBody"
              />

            </form>

            <div class="text-dark" *ngFor="let c of post.comments">
              <div class="row">
                <div class="mt-3">
                  <div class="card card-edit">
                    <div class="card-body">
                      <div class="d-flex flex-start">
                        <img
                          class="rounded-circle shadow-1-strong me-3"
                          src="http://localhost:3000/{{
                            c.comment.profileImage
                          }}"
                          alt="avatar"
                          width="40"
                          height="40"
                        />
                        <div class="">
                          <div
                            class="d-flex justify-content-between align-items-center mb-3"
                          >
                            <h6
                              class="text-primary fw-bold mb-0 position-relative"
                            >
                              {{ c.comment.name }}
                              <span class="text-dark ms-2 edit-text">{{
                                c.comment.commentBody
                              }}</span>
                              <span
                                class="text-danger ms-5"
                                (click)="delComment(post._id, c._id)"
                                ><i class="fa-solid fa-xmark"></i
                              ></span>
                            </h6>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/. Search -->
          </div>
          <!--/ cardbox-like -->
        </div>
        <!--/ cardbox -->
      </div>
      <!--/ col-lg-6 -->
    </div>
    <!--/ row -->
  </div>



  <!--/ container -->

</section>
<app-footer></app-footer>
