<app-navbar></app-navbar>

<div class="card gedf-card container mt-5 w-50">
  <div class="card-header">
    <ul class="nav nav-pills card-header-tabs" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active text-secondary"
          id="pills-home-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-home"
          type="button"
          role="tab"
          aria-controls="pills-home"
          aria-selected="false"
          >Make a publication</a
        >
      </li>

    </ul>
  </div>
  <div class="card-body" >
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade active show"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
        tabindex="0"
      >
        <form [formGroup]="editForm" (ngSubmit)="editPost()">
          <label  class="sr-only" for="message">post</label>
          <input class="mb-2 form-control w-50" formControlName="title" type="text" placeholder="title"  />
          <textarea
            class="form-control"
            id="message"
            rows="3"
            placeholder="What are you thinking?"
            formControlName="body"
            ></textarea>
            <input  id="postImg" type="file" (change)="changeMyImg($event)">
            <label class="img-spec position-absolute bottom-0 end-0 me-3 mb-2 fs-4" for="postImg"><i class="fa fa-camera"></i></label>
            <div class="btn-group">
              <button class="btn btn-primary mt-3">share</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
